body {
    font-family: 'Spinnaker', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-color: #666666;
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5em;
    margin-bottom: 20px;
}

.articles img,
.books img,
.events img,
.jobs img,
.membership img {
    height: 40px;
    width: 40px;
}

.logo img {
    margin-top: 30px;
    margin-left: -30px;
}

.articles,
.books,
.events,
.jobs,
.membership,
.topics {
    margin-top: 30px;
}

nav ul li p,
nav ul li h2 {
    color: white;
}
.topics button {
    background-color: #666666;
    border: white solid 3px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
}
.topics button h3{
    padding: 0px 30px;
    line-height: 3px;
}
.topics button i {
    position: absolute;
    top: 85px;
    font-size: 15px;
    color: white;
    margin-left: -50px;
   
 }
 .topics button h3 {
    font-size: 20px;
    color: white;
}